.task_list_column{
    padding: 0.5rem;
    max-width: 300px;
    min-height: 31.25rem;
    max-height: calc(100vh - 180px);
    background: #f4f4f4;
    overflow: auto;
}

.task_list_column::-webkit-scrollbar {
    width: 8px;
}

.task_list_column::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.task_list_column::-webkit-scrollbar-thumb {
    background: #999;
    border: 2px solid transparent;
    border-radius: 10px;
}

.task_list_column::-webkit-scrollbar-thumb:hover {
    background: #099598;
}