@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: 'Saira', sans-serif;
    /*font-family: 'Urbanist', sans-serif;*/
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
}

.w-100 {
    width: 100%;
}

.justify-end {
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-grab {
    cursor: grab;
}

.mt-4 {
    margin-top: 1rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.single_list {
    border: 1px solid rgba(5, 5, 5, 0.06);
    padding: 12px 24px;
}

.single_list .ant-spin-nested-loading .ant-spin-container .ant-list-item {
    padding: 12px 0 !important;
    justify-content: inherit !important;
}

.single_list .ant-spin-nested-loading .ant-spin-container .ant-list-item.list_full_side {
    width: 100%;
}

.single_list .ant-spin-nested-loading .ant-spin-container .ant-list-item.list_left_side, .list_right_side, .list_full_side .list_title {
    font-weight: 700;
    font-size: 16px;
}

.single_list .ant-spin-nested-loading .ant-spin-container .ant-list-item .list_text {
    text-align: justify;
}

@media (max-width: 1000px) {
    .kanban_column {
        flex-direction: column;
        padding: 0 1rem;
    }

    .all_column {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .task_list_column {
        max-width: 100%;
        min-height: 155px;
        max-height: 100%;
        overflow-x: auto;
        display: flex;
        align-items: center;
        grid-gap: 10px;
        flex-direction: row;
    }

    .task_list_column::-webkit-scrollbar {
        height: 8px;
    }

    .task_list_column::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .task_list_column::-webkit-scrollbar-thumb {
        background: #999;
        border: 2px solid transparent;
        border-radius: 10px;
    }

    .task_list_column::-webkit-scrollbar-thumb:hover {
        background: #099598;
    }

    .task_section {
        margin-bottom: 0;
        width: 300px;
    }

    .header {
        width: auto;
    }
}

