@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: 'Saira', sans-serif;
    /*font-family: 'Urbanist', sans-serif;*/
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
}

.w-100 {
    width: 100%;
}

.justify-end {
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-grab {
    cursor: grab;
}

.mt-4 {
    margin-top: 1rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.single_list {
    border: 1px solid rgba(5, 5, 5, 0.06);
    padding: 12px 24px;
}

.single_list .ant-spin-nested-loading .ant-spin-container .ant-list-item {
    padding: 12px 0 !important;
    justify-content: inherit !important;
}

.single_list .ant-spin-nested-loading .ant-spin-container .ant-list-item.list_full_side {
    width: 100%;
}

.single_list .ant-spin-nested-loading .ant-spin-container .ant-list-item.list_left_side, .list_right_side, .list_full_side .list_title {
    font-weight: 700;
    font-size: 16px;
}

.single_list .ant-spin-nested-loading .ant-spin-container .ant-list-item .list_text {
    text-align: justify;
}
